<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./app.component.css" rel='stylesheet'>
</head>

<body>
    <div class="changer__course-block">
        <h1 id='dollar'></h1>
        <h1 id='euro'></h1>
    </div>
    <div class="chager__functional-block">
        <div class="changer__give block">
            <div>
                <input type="text" name="" id="">
            </div>
            <select name="" id="">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="changer__get block">
            <div>
                <input type="text" name="" id="">
            </div>
            <select name="" id="">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
    </div>
</body>

</html>